{% extends "main.html" %}

{% block content %}
<div class="ui container">

  <div class="ui one stackable cards">
    <div class="ui card">
      <div class="content">
        <div class="header">
          <div class="right floated meta">
            <a class="ui basic teal button" href="/blocks">View All Blocks<i class="right arrow icon"></i></a>
          </div>
          <i class="icon cubes"></i>
          Blocks
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>

</div>
{%endblock%}