{% extends "main.html" %}

{% block content %}
<div class="ui container">

  <div class="ui one stackable cards">
    <div class="ui card">
      <div class="content">
        <div class="header">
          <div class="right floated meta">
            <div class="ui basic brown button">View All Blocks<i class="right arrow icon"></i></div>
          </div>
          Blocks
        </div>
      </div>
      <div class="content">
        <div class="row">
        </div>
      </div>
    </div>
  </div>

</div>
{%endblock%}