{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
  <title>TrueLens</title>
  <meta name="description" content="TrueLens explorer" />
  <link rel="icon" type="image/png" href="{% static "img/lens.png" %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.css">
  {% block head %}
  {% endblock head %}
</head>

<body class="Site">
  <div class="Site-header">
      <div class="eyecatcher">
      </div>
      <div class="ui stackable borderless main menu">
         <div class="ui container topmenu">
            <a href="/" class="header item">
             <img class="ui image" src="{% static "img/lens.png" %}" width="50" height="50"/>&nbsp; <span class="logo">TrueLens</span>
            </a>
            <div class="ui simple dropdown item">
              <div >Blockchain</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="/blocks" >Blocks</a>
              </div>
            </div>
            <div class="item"><a href="/transactions" >Transactions</a></div>
            <div class="item"><a href="/tokens" >Tokens</a></div>
            <form class="header item nomobile" action="/search" method="post">
              <div class="ui category search">
                <div class="ui large icon input" style="min-width: 380px;">
                  <i class="search icon"></i>
                  <input class="prompt" name="q" type="text" placeholder="Address, Hash, Token ...">
                  <input type="hidden" value="" name="type">
                </div>
                <div class="results"></div>
              </div>
            </form>
         </div>
       </div>
      <div class="eyecatcherbottom"> </div>
  </div>
  <div class="Site-content">
    {%block content%}
    {%endblock%}
  </div>
  <div class="Site-footer">
    <div class="ui inverted vertical footer segment" style="margin-top: 50px;">
      <div class="ui grid container">
        <div class="row">
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://www.truechain.pro" target="blank">About Us</a>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://github.com/truelens" target="_blank"><i class="ui icon github"></i>Github</a>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://www.truechain.pro" target="blank">TrueChain</a>
            </div>
          </div>
        </div>
        <div class="row centered">
          <div>
            <a href="https://etherscan.io/address/0xc411AB45CaCBa295b73aA23E360A846E024F64f7" class="ui mini labeled button">
              <div class="ui red mini button">
                <i class="heart icon"></i>ETH Donate
              </div>
              <span class="ui basic label">0xc411AB45CaCBa295b73aA23E360A846E024F64f7</span>
            </a>
          </div>
        </div>
        <div class="row centered">
          <div><small>Copyright 2018 - truelens.link</small></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.1.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/components/dropdown.min.js"></script>
</body>

</html>
