<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
  <title>TrueLens</title>
  <meta name="description" content="TrueLens explorer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
</head>

<body class="Site">
  <div class="Site-header">
  </div>
  <div class="Site-content">
    {%block content%}
    {%endblock%}
  </div>
  <div class="Site-footer">
    <div class="ui inverted vertical footer segment" style="margin-top: 50px;">
      <div class="ui grid container">
        <div class="row">
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://www.truechain.pro" target="blank">About Us</a>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://github.com/truelens" target="_blank"><i class="ui icon github"></i>Github</a>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui inverted link list">
              <a class="item" href="https://www.truechain.pro" target="blank">TrueChain</a>
            </div>
          </div>
        </div>
        <div class="row centered">
          <div>
            <a href="https://etherscan.io/address/0xc411AB45CaCBa295b73aA23E360A846E024F64f7" class="ui mini labeled button">
              <div class="ui red mini button">
                <i class="heart icon"></i>ETH Donate
              </div>
              <span class="ui basic label">0xc411AB45CaCBa295b73aA23E360A846E024F64f7</span>
            </a>
          </div>
        </div>
        <div class="row centered">
          <div><small>Copyright 2018 - truelens.link</small></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</body>

</html>
